!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      FrontRock
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}

    / Place favicon.ico and apple-touch-icon.png in the root directory

    / build:css(.) styles/vendor.css
    / bower:css
    / endbower
    / endbuild

    / build:css(.tmp) styles/main.css
    /%link{:href => "bower_components/semantic/dist/semantic.min.css", :rel => "stylesheet"}
    /%link{:href => "styles/main.css", :rel => "stylesheet"}
    / endbuild

  %body{"ng-app" => "frontrockApp", "ng-controller" => "MainCtrl as vm"}
    %a{"ui-sref" => "routes"}
      Home

    %button{"ng-if" => "!vm.user", "ng-click" => "authenticate('github')"}
      Sign in with Github
    %a{"ng-if" => "vm.user", "href" => "#", "ng-click" => "signOut()"}
      Close session

    %div{"ui-view" => ""}

    / Google Analytics: change UA-XXXXX-X to be your site's ID
    :javascript
      !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
      (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
      r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
      }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');

    / build:js(.) scripts/vendor.js
    / bower:js
    %script{:src => "bower_components/jquery/dist/jquery.js"}
    %script{:src => "bower_components/angular/angular.js"}
    %script{:src => "bower_components/angular-ui-router/release/angular-ui-router.js"}
    %script{:src => "bower_components/angular-animate/angular-animate.js"}
    %script{:src => "bower_components/angular-cookie/angular-cookie.js"}
    %script{:src => "bower_components/angular-resource/angular-resource.js"}
    %script{:src => "bower_components/angular-sanitize/angular-sanitize.js"}
    %script{:src => "bower_components/angular-touch/angular-touch.js"}
    %script{:src => "bower_components/ng-token-auth/dist/ng-token-auth.js"}
    %script{:src => "bower_components/semantic/dist/semantic.js"}
    / endbower
    / endbuild

    / build:js({.tmp,app}) scripts/scripts.js
    %script{:src => "scripts/app.js"}
    %script{:src => "scripts/services/route.js"}
    %script{:src => "scripts/directives/fr_upload.js"}
    %script{:src => "scripts/controllers/main.js"}
    %script{:src => "scripts/controllers/routes/index_routes.js"}
    %script{:src => "scripts/controllers/routes/show_routes.js"}
    %script{:src => "scripts/controllers/routes/new_routes.js"}
    %script{:src => "scripts/controllers/routes/edit_routes.js"}
    / endbuild
