%form{"ng-submit" => "vm.update()"}
  %label{"for" => "title"} Title
  %input{"type" => "text", "ng-model" => "vm.route.title" }

  %label{"for" => "description"} Description
  %input{"type" => "text", "ng-model" => "vm.route.description" }

  %div{"ng-repeat" => "image in vm.route.images"}
    %img{ "ng-src" => "{{image.url}}" }
    %label{"for" => "attachment"} Image
    %input{"fr-upload" => true, "type" => "file", "ng-model" => "image.attachment"}

    %label{"for" => "_destroy"} Remove image
    %input{"type" => "checkbox", "ng-model" => "image._destroy"}

  %button{"type" => "button", "ng-click" => "vm.addImage()"}
    Add Image

  %input{"type" => "submit"}


%a{"href" => "#", "ng-click" => "vm.destroy()"}
  Remove
