%form{"ng-submit" => "vm.create()"}
  %label{"for" => "title"} Title
  %input{"type" => "text", "ng-model" => "vm.route.title" }

  %label{"for" => "description"} Description
  %input{"type" => "text", "ng-model" => "vm.route.description" }

  %div{"ng-repeat" => "image in vm.route.images"}
    %label{"for" => "attachment"} Image
    %input{"fr-upload" => true, "type" => "file", "ng-model" => "image.attachment"}

  %button{"type" => "button", "ng-click" => "vm.addImage()"}
    Add Image

  %input{"type" => "submit"}
