%div
  %span
    Title: {{vm.route.title}}
  %span
    Description: {{vm.route.description}}
  %a{"ui-sref" => "editRoutes({id: vm.route.id})"}
    EDIT
  %div{ "ng-repeat" => "image in vm.route.images" }
    %img{ "ng-src" => "{{image.url}}" }
